{% extends "layout.twig" %}

{% block title %}Timeline{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-5">Timeline</h1>
            <p>Welcome, {{ username }}!</p>
            <form method="post" action="/feed">
                <div class="form-group">
                    <label for="message">What's happening?</label>
                    <textarea class="form-control" id="message" name="message" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Tweet</button>
            </form>
            <hr>
            {% for message in messages %}
                {% include 'Components/message.twig' with { 'message': message, 'username': username } %}
            {% endfor %}

            {% if totalPages > 1 %}
                {% include 'Components/pagination.twig' with { 'currentPage': currentPage, 'totalPages': totalPages } %}
            {% endif %}

        </div>
    </div>
{% endblock %}
