<div class="media">
    <div class="media-body">
        <h5 class="mt-0">@{{ message.username }}</h5>
        <small>{{ message.created_at }}</small>
        {% if message.username == username %}
            <form method="post" action="/delete/{{ message.id }}" style="float: right;">
                <button type="submit" class="btn btn-danger btn-sm ml-2">Delete</button>
            </form>
        {% endif %}

        <p>{{ message.message }}</p>

        <hr />
    </div>
</div>
